.BusinessCompanion.xcodeproj/project.xcworkspace/xcuserdata/hygorcosta.xcuserdatad/UserInterfaceState.xcuserstate

BusinessCompanion.xcodeproj/project.xcworkspace/xcuserdata/hygorcosta.xcuserdatad/UserInterfaceState.xcuserstate